name: 18 - Specific File

on:
  push:
    paths:
      - '**/report.txt'
      - '**/README.md'
  pull_request:
    paths:
      - '**/report.txt'
      - '**/README.md'

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Push Event
        if: ${{ github.event_name == 'push' }}
        run: echo "File(s) updated with a PUSH event"
      - name: Pull Request Event
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "File(s) updated with a PR event"