name: "25 - Artifacts between workflows 2"

on:
  workflow_run:
    workflows: ['25 - Artifacts between workflows 1']
    types: 
      - completed

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Download workflow artifact
        uses: actions/download-artifact@v4.1.8
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          name: pr_num
          path: ./pr_num
          run-id: ${{ github.event.workflow_run.id }}

      - name: Read the pr_num file
        id: pr_num_reader
        uses: juliangruber/read-file-action@v1.1.7
        with:
          path: ./pr_num/pr_num.txt

      - run: echo Original PR number is ${{ steps.pr_num_reader.outputs.content }}
