name: 26 - Create release branch on another repo

on:
  push:
    tags:
      - '*.*.*'

jobs:
  release-git-commands:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - name: Generate release on documentation repo
        run: |
          git clone https://${{ secrets.ACCESS_TOKEN }}@github.com/ZupIT/docs-ritchie.git
          cd docs-ritchie/
          git init
          git checkout -b test-${{ steps.vars.outputs.tag }}
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push origin test-${{ steps.vars.outputs.tag }}

  release-action:
    runs-on: ubuntu-latest
    needs: release-git-commands
    steps:
      - uses: GuillaumeFalourd/create-other-repo-branch-action@main
        with:
          repository_owner: ZupIT
          repository_name: docs-ritchie
          new_branch_name: test-1
          access_token: ${{ secrets.ACCESS_TOKEN}}
